:root {
    margin:0;
    padding: 0;
    font-weight: 200;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
}
.tag-border {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 5px;
    margin-left: 0px;
}
.tag{
    padding: 2px 20px 2px 20px;
    font-size: 16px;
}

/* MEDIA */


/* Small Tags */
@media only screen and (max-device-width : 1200px) {
    .tag {
        font-size: 14px;
        padding: 1.5px 17px 1.5px 17px;
    }
}